@import "tailwindcss"

.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}



.noto-serif-sans{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* common part */
.span-clr{
  color: #E95A08;
}
.btn-primary{
  background-color: #E95A08;
  color: white;
font-size:1rem ;
 font-weight: 600;
  width: 16.9rem;
 height: 3.1rem;

}
.dark-3{
 color: rgba(0, 0, 0, 0.5);
 font-size: 22px;

}
.clr{
color: #8987A1;
}

/* header part */
body{
  margin: 30px  150px   ;
}
nav{
display: flex;
justify-content: space-between;
margin-bottom: 120px;
/* margin: 30px 150px; */
}
nav ul{
text-decoration: none;
}
nav ul li{
list-style: none;
}






@media screen and (max-width: 576px){
nav,nav ul
{
  display: flex;
  justify-content: space-between;


 
}
.display-hide{
display: none;
}
nav ul{
  margin-top: 50px;
}
body{
  margin: 0 auto;
}
.banner{
display: flex;
flex-direction: column-reverse;
width: 100%;
align-items: flex-start;


}
.banner-content{
margin: 30px 10px;

width: 100%;
}
.banner-img{
width: 100%;
height: auto;

}
.plant-description{
  display: flex;
  flex-direction: column;
}
.plant-container{
  margin:20px;
 
}
.plant-card-section{
margin: auto;
  
}
.btn-primary, plant-card-section p{

width: 100%;

}

}




